#div-tabla-articulos{
  margin-left: 2%;
  margin-right: 3%;
  margin-top: 3%;

}

thead {
  font-weight: bold;
}

tbody td {
  width: 20%;
}

#div-tabla-articulos {
  background-color: rgb(240, 240, 240);
  padding: 2%;

  border-radius: 5px;
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
}

#div-articulos-pedidos {
  margin-top: 1%;
  margin-bottom: 1%;
  border-top: 1px solid black;
  text-align: left;
  padding-top: 4%;
  padding-left: 8%;
}
